.banner-header {
	font-size: 40px;
	font-weight: bold;
	color: white;
}
.official {
	font-weight: bold;
	font-size: 25px;
    font-family: 'Lato';    
}
.official-sub {
	font-weight: bold;
	font-size: 15px;
	font-family: 'Lato';

}
.iid {
	font-weight:bold;
}
.login-blurb {
	color:white;
}

.side-border {
	padding-left: 20px;
	border-left: 5px double #024D99;

}
.sub-sub-header {
	color: grey;
	font-size: 13px;
	padding-left: 20px;

}

.item-description {
	text-align: left;
}

.item-buttons {
	text-align: right;

}

.inline { float:left; }
.clearBoth { clear:both; }

#footer {
    clear: both;
    color: #777;
    margin: 0 auto;
    padding: 20px 0 40px;
    text-align: center;
    font-size: 16px;
}
