
#header {
	font-weight: bold;
	font-size: 70px;
    font-family: 'Lato';    
}

#sub-header {
	color: grey;
	padding-left: 20px;

}

#verify-password-msg {
	color: red;
}

#footer {
    clear: both;
    color: #777;
    margin: 0 auto;
    padding: 20px 0 40px;
    text-align: center;
    font-size: 16px;
}
