body {
	background: white;
}

#items-header {
	font-size: 25px;
	color:black;
	font-weight: bold;

}

#add-item {
	text-align: right;
	font-weight: bold;	
	color: grey;
	font-size: 20px;
}

#items {


}