body {
	background: white;
}

#header {
	font-size: 32px;
	color: black;
	font-weight: bold;
	
}
#notifications-header {
	font-size: 25px;
	color:black;
	font-weight: bold;
}
#items-header {
	font-size: 25px;
	color:black;
	font-weight: bold;

}

#add-item {
	text-align: right;
	font-weight: bold;	
	color: grey;
	font-size: 20px;
}

#items {


}
.notification-entry {

}
.item-description {
	text-align: left;
}

.item-buttons {
	text-align: right;

}
#notifications-marker {
	font-size: 15px;
	color: grey;

}

#verify-name-msg {
    color: red;
}
#tags-help {
    font-size: 10px;
}
