<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	
	<link href="/static/css/other.css" rel="stylesheet">
	 <link href="/static/css/global.css" rel="stylesheet">
	 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

	 <script src="/static/js/jquery-1.10.2.min.js"></script> 
	 <script src="/static/js/bootstrap.min.js"></script> 
	 <script src="/static/js/other.js"></script> 

	 <!--
	 <script src="/static/js/jquery-1.10.2.min.js"></script> 
	 <script src="/static/js/bootstrap.min.js"></script> 
	 <script src="/static/js/other.js"></script> 
	 
		
	 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
	 <link href="/static/css/other.css" rel="stylesheet">
	  <link href="/static/css/global.css" rel="stylesheet">
	-->

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<script src="http://malsup.github.com/jquery.form.js"></script> 
	
	</head>

	<body>        
		<title>Other Profile Page</title>
		<div class="navbar navbar-inverse">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class='row' >
						<div class="col-md-10">
					
							<div class="banner-header">This For That</div>	
                            <div id="sub-header" class="sub-sub-header official-sub">Trade your things for <strong>{{ otheruser}}</strong>'s things</div>
						</div>
						<div class="col-md-2 pull-right login-blurb">
							<br>
							 {% if username %}
                logged in as <a href="/trade/self/">{{ username }}</a> <br />
                    <a href="/trade/clogout">(logout)</a>
                {% else %}
				    <button type="button" class="btn btn-sm btn-primary" id="login-btn">Login or Sign Up</button>
                {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<br>
				<br>
				<div class="row">
					
					<div id="items" class="side-border">
						<div class="row">
                            <div class="col-md-11"><div class="cool-font" id="items-header">{{ otheruser }}'s Inventory</div></div>
						</div>
						<br>
						<div id="all-items">
                            {% for item in items %}
							<div class="well well-sm">
							<div class="row item-entry">
								<div class="col-md-2">
                                    <img src="/media/{{ item.picture.name }}" alt="Smiley face" width="100" height="100">
								</div>
								<div class="col-md-7 cool-font">
								<div class="iid">
								{{ item.title }}
								</div>
								<div class="description">
                                    {{ item.description }}
								</div>
								</div>
                                <form action="/trade/request_item/{{ item.iid }}/other" method="post"
                                    enctype="text/plain">
								<div class="item-buttons col-md-3">
                                    {% if not username %}
                                    <input type="submit" id="request-trade-btn" class="btn btn-success disabled input-trade-request-nologin" name="request" value="Request Trade" />
                                    {% elif item.requested %}
                                    <input type="submit" id="request-trade-btn" class="btn btn-success disabled input-trade-is-requested" name="request" value="Requested" />
                                    {% else %}
                                    <input type="submit" id="request-trade-btn" class="btn btn-success input-trade-request" name="request" value="Request Trade" />
                                    {% endif %}
								</div>
                                </form>
							</div>
							</div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
		<div class="row">
		</div>
		
		

		<!-- modal for adding a  new item -->
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				   	

					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <form action="../clogin/" method="post">
                            <div id="login-box"> 
                                <div class="cool-font official"> Login to Your Account </div>
                                <br>
                                <div class="official-sub">Username</div>
                                <input name="username" type="text" id="username-input" class="input form-control" placeholder="Username">
                                <br>
                                <div class="official-sub">Password</div>
                                <input name="password" type="password" id="password-input" class="input form-control" placeholder="Password">
                                <br>
                                <a id="new-account-btn" href="#">Create a new account </a>
                                <br>
                                <div class="pull-right">
                                    <input type="submit" id="submit-btn" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        </form>

                        <form action="../csignup/" method="post">

						<div id="new-acc-box">
							<div class="cool-font official"> Create an Account </div>
							<br>
							<div class="official-sub">Username</div>
							<input name="username" type="text" id="new-username-input" class="input form-control" placeholder="Username">
							<br>

							<div class="official-sub">Password</div>
							<input name="password" type="password" id="new-password-input" class="input form-control" placeholder="Password">
							<br>
							<div class="official-sub">Verify Password</div>
							<input name="verifypassword" type="password" id="new-password-input-verify" class="input form-control" placeholder="Type your password again">
							<div id="verify-password-msg"> </div>
							<br>
							<div class="official-sub">Princeton Email Address</div>
							<input name="email" type="text" id="new-email-input" class="input form-control" placeholder="Princeton Email Address">
							<br>
							<a id="relogin-btn" href="#">Let me login</a>
							<br>
							<div class="pull-right">
	                            <input type="submit" id="make-new-acc-btn" class="btn btn-primary" value="Create Account" />
							</div>
						</div>
                        </form>
 						
						<br>		
						<br>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
        <div id="footer">-alpha build-<br ><br >&copy; Greg Siano, Benjamin Chen, Michael Lee<br >2013 </div>
	</body>
</html>
