<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	 	<!--
	 <script src="../static/js/jquery-1.10.2.min.js"></script> 
	 <script src="../static/js/bootstrap.min.js"></script> 
	 <script src="../static/js/self.js"></script> 
	 
	 <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
	 <link href="../static/css/self.css" rel="stylesheet">
	  <link href="../static/css/global.css" rel="stylesheet">

-->
	
	<link href="/static/css/self.css" rel="stylesheet">
	 <link href="/static/css/global.css" rel="stylesheet">
	 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

	 <script src="/static/js/jquery-1.10.2.min.js"></script> 
	 <script src="/static/js/bootstrap.min.js"></script> 
	 <script src="/static/js/self.js"></script> 



	 
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	</head>

	<body>        
		<title>Your Profile Page</title>
		<div class="navbar navbar-inverse">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class='row '>
				<div class="col-md-10">
					
					<div class="banner-header">This For That</div>	
					
					<div id="sub-header" class="sub-sub-header official-sub">Trade your things for others' things</div>
				</div>
				<div class="col-md-2 pull-right login-blurb">
					<br>
                logged in as <a href="/trade/self/">{{ username }}</a> <br />
                    <a href="/trade/clogout">(logout)</a>
                
				</div>
				</div>
			</div>
		</div>

	</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
					<div id="header-container" class="row"> 

                    <div id="header" class="cool-font side-border">
                        Hi, {{ username }}!
                        <div id="notifications-marker" class="sub-official">
    	            		
                        	{% if notifications %}
    	            		<span id="notifications-marker-span"> You have {{ num_notifications }} notification(s). 
    	            			<span id="notifications-indicator"> (Click here to show them) </span></span>

    	            		{% else %}
    	            		<span> You have no notifications </span>
    	            		{% endif %}
 							
    	            	</div>
    	            </div>
    	            


				</div>

				<br>

				<div class="row">
					<div id="notifications" class="side-border">
						<div class="row">
							<div class="col-md-11"><div class="cool-font" id="notifications-header">Notifications</div></div>
						</div>
						<br>
						<div id="all-notifications" class="open">

							{% for strade in strades %}
							<div class="row notification-entry official-sub">

								<div class="col-md-8">
									Trade success: "{{ strade.title1 }}" is to be traded for "{{ strade.title2 }}". Let's exchange emails: {{ strade.owneremail }} and {{ strade.requesteremail }}
								</div>
								<div class="col-md-4">
									<div class="pull-right">
										<button type="button" class="btn btn-danger">Close Notification</button>
									</div>
								</div>

							</div>
							<br>
							{% endfor %}
							{% for ptrade in ptrades %}
							<div class="row notification-entry official-sub">
								
								<div class="col-md-6">
									{{ ptrade.requester }} wants your "{{ ptrade.title }}"
								</div>
								<div id= class="col-md-6">
									<div class="btn-group pull-right">
										<span id="{{ ptrade.title }}"></span>
										<span id="{{ ptrade.owner }}"></span>
										<span id="{{ ptrade.item1 }}"></span>
										<button type="button" id="{{ ptrade.requester }}" class="btn btn-success suggest-trade-btn">Suggest a Trade</button>
										<button type="button" class="btn btn-danger">Terminate Trade</button>
									</div>
								</div>
							</div>
							<br>
							{% endfor %}			
 

							{% for resp in responses %}
								<div class="row notification-entry official-sub">
									<div class="col-md-6">
										{{ resp.owner }} wants your {{ resp.title2 }} for his {{ resp.title1 }}
									</div>
									<div id= class="col-md-6">
										<div class="btn-group pull-right">
											<span id="{{ resp.title2 }}"></span>
											<span id="{{ resp.title1 }}"></span>
											<span id="{{ resp.item1 }}"></span>
											<span id="{{ resp.owner }}"></span>
											<span id="{{ resp.item2 }}"></span>
											<span id="{{ resp.requester }}"></span>
											<div class="btn-group">
												<button type="button" class="btn btn-success confirm-trade-btn">Confirm Trade</button>
												<button type="button" class="btn btn-warning request-new-trade-btn">Request New Trade</button>
												<button type="button" class="btn btn-danger">Terminate Trade</button>
											</div>
										</div>
									</div>
								</div>
								
							{% endfor %}	


						</div>
					</div>
					<br>

					<div id="items" class="side-border">
						<div class="row">
							<div class="col-md-11"><div class="cool-font" id="items-header">Your Inventory</div></div>
							<div class="col-md-1"><div id="add-item">+</div></div>
						</div>
						<br>
						<div id="all-items" class="open">
                            {% for item in items %}
							<div class="well well-sm">
							<div class="row item-entry">
								<div class="col-md-2">
                                    <img src="/{{ item.thumbnail }}" alt="Smiley face" width="100" height="100">
								</div>
								<div class="col-md-8 cool-font">
								<div class="iid">
								{{ item.title }}
								</div>
								<div class="description ">
                                    {{ item.description }}
								</div>
								</div>
								<div class="item-buttons col-md-2">
									<div class="btn-group-vertical">
                                        <!--<form action="/trade/update/{{ item.iid }}" method="post">
                                            <input type="submit" class="btn btn-success" value="Update"/>
                                        </form>-->
                                        <form action="/trade/delete/{{ item.iid }}" method="post">
                                            <input type="submit" class="btn btn-danger" value="Delete"/>
                                        </form>
									</div>
								</div>
							</div>
							</div>
                            {% endfor %}


						</div>



					</div>

				</div>
			<div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
		</div>
		



		<!-- modal for choosing an item to trade -->
		<div class="modal fade" id="pick-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<div id="all-other-items-header" class="cool-font official"> Pick an item you want for your [cat] </div>
						<div id="all-other-items">
						</div>
						<div class="pull-right">
							<button type="button" id="confirm-item-trade-btn" class="btn btn-primary">Confirm Item</button>
						</div>
						<br>		
						<br>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- modal for adding a  new item -->
		<div class="modal fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <form action="/trade/add_item/" method="post"
                            enctype="multipart/form-data">
                            {{ form.image }}
						<div class="cool-font official"> Add a new Item </div>
						<br>
						<div class="official-sub">Item Name</div>
						<input type="text" id="item-name-input" class="input form-control" placeholder="Item Name" name="itemname">
                        <div id="verify-name-msg"> </div>
						<br>
						<div class="official-sub" id="upload-picture-header">Upload a Picture</div>
						<input class="btn" name="image" accept="image/jpeg, image/jpg" id="item-add-pic-input" type="file" name="image" />
						<!-- <button type="button" type="file" id="item-add-pic-btn" class="btn btn-info btn-small">Add a Picture</button> -->
												<br>
						<div class="official-sub">Item Description</div>
						<input type="text" id="item-description-input" class="input form-control" placeholder="Item Description" name="description">
						<br>
						<div class="official-sub">Item Tags</div>
						<input type="text" id="item-tags-input" class="input form-control" placeholder="Add tags for your item separated by commas" name="tags">
                        <div id="tags-help">adding tags helps other people find your stuff</div>
						<br>

						<div class="pull-right">
                            <input type="submit" id="add-new-item-btn" class="btn btn-primary" />
						</div>
                    </form>
 						
						<br>		
						<br>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
        <div id="footer">-alpha build-<br ><br >&copy; Greg Siano, Benjamin Chen, Michael Lee<br >2013</div>
	</body>
</html>
